body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 393px;
    max-height: 892px;
    font-size: 22px;
    background-color: black;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2px 3px;
}

nav a {
    text-decoration: none;
    color: rgba(211, 201, 59, 0.801);
}

nav a:hover {
    text-decoration: underline;
}

.logo img {
    width: 100%;
}

.characteristics {
    padding: 2px;
    border-radius: 20px;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.text-info {
    padding-left: 5px;
}

.engines {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
}

.card-engine {
    width: 100%;
    margin-bottom: 15px;
    background-color: rgba(59, 71, 71, 0.829);
    border-radius: 5px;
}

.card-engine p {
    padding-left: 5px;
}

.card-engine img {
    width: 100%;
    height: 300px;
}

.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
}

.pic img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: 0.5s;
    position: relative;
}

.pic img:hover {
    filter: brightness(0.2);
}

footer {
    text-align: center;
    color: rgba(211, 201, 59, 0.801);
}