html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 393px;
    max-height: 892px;
    font-size: 22px;
    background-color: black;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2px 3px;
}

nav a {
    text-decoration: none;
    color: rgba(211, 201, 59, 0.801);
}

nav a:hover {
    text-decoration: underline;
}

.logo img {
    width: 100%;
    transition: 0.5s;
}

.logo img:hover {
    transform: scale(1.05);
}

.characteristics {
    padding: 2px;
    border-radius: 20px;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.text-info {
    padding-left: 5px;
    background-color: rgba(36, 35, 35, 0.432);
    border-radius: 15px;
}

.engines {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
}

.card-engine {
    width: 100%;
    margin-bottom: 15px;
    background-color: rgba(59, 71, 71, 0.829);
    border-radius: 5px;
    transition: 0.5s;
}

.card-engine:hover {
    transform: translateY(-5px);
}

.card-engine p {
    padding-left: 5px;
}

.card-engine img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
}

.pic {
    position: relative;
    overflow: hidden;
}

.pic img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s;
}

.pic:hover img {
    filter: brightness(0.2);
}

.text-on {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s;
}

.pic:hover .text-on {
    opacity: 1;
}

.me {
    position: fixed;
    display: inline;
    bottom: 20px;
    right: 20px;
    border: none;
    border-radius: 15px;
    background-color: rgb(97, 163, 77);
}

footer {
    text-align: center;
    color: rgba(211, 201, 59, 0.801);
}